:root {
  --nav-link-hover: rgb(42, 125, 227);
  --nav-bg1: rgb(187, 187, 187);
  --nav-bg2: grey;
  --nav-bg3:rgb(38, 38, 38);
  --nav-text1:white;
  --nav-text2: gold;
  --nav-text3: black;
}

:root.dark-mode {
  --nav-bg1: rgb(38, 38, 38);
  --nav-bg2: grey;
  --nav-bg3: rgb(224, 224, 224);
  --nav-text1: black;
  --nav-text2: gold;
  --nav-text3: white;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--nav-bg1);
  color: var(--nav-text3);
}

.navbar a {
  margin: 0 10px;
  font-size: 1rem;
}

.navbar a:hover {
  color: var(--nav-link-hover); /* Highlight on hover */
}

.navbar h3 {
  font-family: 'Fredoka One', sans-serif;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Play', sans-serif;
}
/* 
.nav-links a:hover {
  color: var(--nav-link-hover);
} */


