@font-face {
  font-family:KG Happy;
  src: url('./Fonts/KGHAPPY.ttf') ,
       /* url('./Fonts/KGHAPPYShadows.ttf') ,
       url('./Fonts/KGHAPPYSolid.ttf')  */
       ;
      font-weight: normal;
      font-style: normal;
}
#root {
  text-align: center;
  color: white;
  overflow-x: clip;
}
body{
  --nav-color:#0b121f;
  --theme-color:#141d2b;
  --money-color:#9fef00;
  /* --money-color:#c7ef00; */
  background-color: var(--theme-color);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes nav-open {
  from {
    box-shadow: 0px 0px 0px var(--money-color);
  }
  to {
    box-shadow: -10px 10px 0px var(--money-color);
  }
}
@keyframes appear-up {
  0%{
    transform: translateY(10%);
  }
  /* 90%{
    transform: translateY(-1%);
  } */
  100%{
    transform: translateY(0%);
  }
}
.appear-up{
  animation: appear-up 1s  1 both;
}
@keyframes appear-triangle {
  0%{
    transform: rotate(2deg);
  }
  /* 90%{
    transform: rotate(-1deg);
  } */
  100%{
    transform: rotate(0deg);
  }
}
@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.fade-in{
  animation: fade-in 1s ;
}

.appear-triangle{
  animation: appear-triangle 1s ease-in 1 ;

}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.heading {
  font-family: kghappy;
  font-size: 60px;
  font-weight: bolder;
  /* color: var(--money-color); */
}
#particle{
  z-index: 0;
  overflow: hidden;
  position: absolute;
}