:root.light {
    --event-primary-color: gold;
    --event-secondary-color: gold;
    --event-background-color: grey;
    --event-text-baseColor: grey;
    --event-text: gold;
    --event-bg: white;
    --event-bg2: rgb(92, 92, 92);
    --event-bg22: rgb(211, 211, 211);
    --event-bg3: black;
    --event-text1: black;

    --event-bg-w1:rgb(154, 154, 154);
    --event-bg-w2: rgb(198, 198, 198);
}

:root.dark {
    --event-secondary-color: orange;
    --event-bg: black;
    --event-bg2: rgb(151, 151, 151);
    --event-bg22: rgb(55, 55, 55);
    --event-bg3: white;
    --event-text1: white;
    --event-bg-w1:rgb(23, 23, 23);
    --event-bg-w2: rgb(64, 64, 64);
}

body {
    background: var(--event-bg3);
    color: var(--event-bg);
    font-family: "Lato", sans-serif;
}



.events-intro {
    background-color: var(--event-bg);
    text-align: center;
    padding: 40px 0;
}

.events-intro h1 {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    color: var(--event-text1);
}

.events-intro p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: var(--event-text-baseColor);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
}

.col-md-4 {
    max-width: 400px;
    padding: 10px;
    margin: auto;
}






/*Fests*/

.fests-intro {
    background-color: var(--event-bg-w1); 
    text-align: center;
    padding: 50px 0;
}

.fests-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--event-secondary-color); 
    font-weight: 700;
    margin-bottom: 20px; 
}

.fests-intro p {
    font-family: Arial, sans-serif;
    font-size: 1.25rem; 
    color: var(--event-bg2); 
}

.fest-item {
    padding: 20px;
    background-color: var(--event-bg2); 
    border-radius: 8px;
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.fest-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem; 
    font-weight: 600;
    color: var(--event-bg); 
}

.fest-item p {
    font-family: Arial, sans-serif;
    font-size: 1rem; 
    color: var(--event-bg22); 
}




/*Conferences*/

.conferences-intro {
    background-color: var(--event-bg-w2); 
    text-align: center;
    padding: 50px 0;
}

.conferences-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--event-secondary-color); 
    font-weight: 700;
    margin-bottom: 20px; 
}

.conferences-intro p {
    font-family: Arial, sans-serif;
    font-size: 1.25rem; 
    color: var(--event-bg2); 
}

.conference-item {
    padding: 20px;
    background-color: var(--event-bg2); 
    border-radius: 8px;
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.conference-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem; 
    font-weight: 600;
    color: var(--event-bg); 
}

.conference-item p {
    font-family: Arial, sans-serif;
    font-size: 1rem; 
    color: var(--event-bg22); 
}





/* competitions  */

.competitions-intro {
    background-color: var(--event-bg-w1); 
    text-align: center;
    padding: 50px 0;
}

.competitions-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--event-secondary-color); 
    font-weight: 700;
    margin-bottom: 20px; 
}

.competitions-intro p {
    font-family: Arial, sans-serif;
    font-size: 1.25rem; 
    color: var(--event-bg2); 
}

.competition-item {
    padding: 20px;
    background-color: var(--event-bg2); 
    border-radius: 8px;
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.competition-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem; 
    font-weight: 600;
    color: var(--event-bg); 
}

.competition-item p {
    font-family: Arial, sans-serif;
    font-size: 1rem; 
    color: var(--event-bg22); 
}



/*    Crypto  */

.crypto-intro {
    background-color: var(--event-bg-w2); 
    text-align: center;
    padding: 50px 0;
}

.crypto-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--event-secondary-color); 
    font-weight: 700;
    margin-bottom: 20px; 
}

.crypto-intro p {
    font-family: Arial, sans-serif;
    font-size: 1.25rem; 
    color: var(--event-bg2); 
}

.crypto-item {
    padding: 20px;
    background-color: var(--event-bg2); 
    border-radius: 8px;
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.crypto-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem; 
    font-weight: 600;
    color: var(--event-bg); 
}

.crypto-item p {
    font-family: Arial, sans-serif;
    font-size: 1rem; 
    color: var(--event-bg22); 
}


/*Internship */

.intern-intro {
    background-color: var(--event-bg-w1); 
    text-align: center;
    padding: 50px 0;
}

.intern-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--event-secondary-color); 
    font-weight: 700;
    margin-bottom: 20px; 
}

.intern-intro p {
    font-family: Arial, sans-serif;
    font-size: 1.25rem; 
    color: var(--event-bg2); 
}

.intern-item {
    padding: 20px;
    background-color: var(--event-bg2); 
    border-radius: 8px;
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.intern-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem; 
    font-weight: 600;
    color: var(--event-bg); 
}

.intern-item p {
    font-family: Arial, sans-serif;
    font-size: 1rem; 
    color: var(--event-bg22); 
}




/*Bootcamps and workshops*/

.bootcamp-intro {
    background-color: var(--event-bg-w2); 
    text-align: center;
    padding: 50px 0;
}

.bootcamp-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--event-secondary-color); 
    font-weight: 700;
    margin-bottom: 20px;
}

.bootcamp-intro p {
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    color: var(--event-bg2);
    margin-bottom: 40px;
}

.bootcamp-item {
    padding: 20px;
    background-color: var(--event-bg2); 
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.bootcamp-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--event-bg);
}

.bootcamp-item p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: var(--event-bg22);
}



/*Sessions*/

.sessions-intro {
    background-color: var(--event-bg-w1); 
    text-align: center;
    padding: 50px 0;
}

.sessions-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--event-secondary-color); 
    font-weight: 700;
    margin-bottom: 30px; 
}

.session-item {
    padding: 20px;
    background-color: var(--event-bg2); 
    border-radius: 8px;
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.session-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem; 
    font-weight: 600;
    color: var(--event-bg); 
}

.session-item p {
    font-family: Arial, sans-serif;
    font-size: 1rem; 
    color: var(--event-bg22); 
}
