@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* C:\Users\sibaj\finance-club\src\Fonts\Archivo_Narrow\static\ArchivoNarrow-Regular.ttf */
@font-face {
    font-family: 'Archivo_Narrow';
    src: local('Archivo_Narrow'),
      url('\Fonts\Archivo_Narrow\static\ArchivoNarrow-Regular.ttf') format('truetype');
  }
:root{
    --background: #ffff;
    --text-primary:#000;
    --text-secondary:#393838;
    --shadowColor:
}
:root{
    background: var(--background);
    color: var(--text-primary);
}
.dark{
    --background: #000;
    --text-primary:#fff;
    --text-secondary:#393838;
}
.light{
    --background: #ffff;
    --text-primary:#000;
    --text-secondary:#000000cb;
}
body{
    background: var(--background);
    font-family: 'Archivo';
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden; */
}
body *{
    color: var(--text-primary);   
}
.shadowNav{
    box-shadow:0px 0px 16px -6px var(--text-primary);
}
.absolute-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes expand-underline {
    0%{width: 0px;}
    100%{width: 85%;}   
}
@keyframes shrink-underline {
    0%{width: 85%;}   
    100%{width: 0px;}
}
.NavUnderline{
    position: relative;
}
.NavUnderline::after{
    animation: shrink-underline 0.5s ease-out  both;
    content: ''; /* your pseudo-element content */
    position: absolute;
    z-index: 30;
    height: 3px;
    background-color: var(--text-primary);
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    bottom: -4px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NavUnderline:hover::after{
    animation: expand-underline 0.5s ease-out alternate both;
}
.hero{
    background-image: url("./images//light-bg.png"); /* fallback */
    background-image: linear-gradient(transparent, #000000); 
}
@media (min-width:0px) and (max-width:500px) {
    .pc{
        position: absolute;
        visibility: hidden;
    }
    .mbl{
        position: relative;
        visibility: visible;
    }
}
@media (min-width:500px)  {
    .mbl{
        position: absolute;
        visibility: hidden;
    }
    .pc{
        position: relative;
        visibility: visible;
    }
}